/* FONTS */

@font-face {
    font-family: 'mario-kart';
    src: url('../fonts/mario-kart.ttf');
}

@font-face {
    font-family: 'pixel-bold';
    src: url('../fonts/pixel-bold.otf');
}

@font-face {
    font-family: 'pixel-regular';
    src: url('../fonts/pixel-regular.otf');
}

/* ROOT */

:root {
    --color-white: white;
    --color-off-white: #bbbbbb;
    --color-black: black;
    --color-grey: #333333;
    --color-light-grey: #666666;
    --color-red: red;
    --finish-flag: repeating-conic-gradient(#ffffff 0% 25%, #000000 0% 50%) 0% / 40% 10%;
}

/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
}

.hidden {
    opacity: 0;
}

.hidden-display {
    top: -100% !important;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}

/* BODY */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden; 
    overscroll-behavior-x: contain;
    width: 1000em;
}

body::after {
    content: url(../img/background/64.jpg) url(../img/background/super-circuit.jpg) url(../img/background/double-dash.jpg) url(../img/background/ds.jpg) url(../img/background/wii.jpg) url(../img/background/kart7.jpg) url(../img/background/kart8.jpg) url(../img/textures/01.jpg) url(../img/textures/02.jpg) url(../img/textures/03.jpg) url(../img/textures/04.jpg) url(../img/textures/05.jpg) url(../img/textures/06.jpg) url(../img/textures/07.jpg) url(../img/textures/08.jpg);
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -1;
}

/* DYNAMIC BACKGROUND */

#background {
    background-image: url("../img/background/snes.jpg");
    background-position: bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.body2 #background {
    background-image: url("../img/background/64.jpg");
}

.body3 #background {
    background-image: url("../img/background/super-circuit.jpg");
}

.body4 #background {
    background-image: url("../img/background/double-dash.jpg");
}

.body5 #background {
    background-image: url("../img/background/ds.jpg");
}

.body6 #background {
    background-image: url("../img/background/wii.jpg");
}

.body7 #background {
    background-image: url("../img/background/kart7.jpg");
}

.body8 #background {
    background-image: url("../img/background/kart8.jpg");
}

/* DYNAMIC ROAD */

#road {
    background-color: grey;
    background: repeating-linear-gradient(to right, #616161, #616161 4em, #696969 4em, #696969 8em);
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    height: 16em;
    margin-top: auto;
    position: relative;
    width: 100%;
}

.body2 #road {
    background: none;
    background-color: #535653;
}

.body3 #road {
    background: repeating-linear-gradient(to right, #737A77, #737A77 4em, #93969B 4em, #93969B 8em);
}

.body4 #road {
    background: none;
    background-color: #44443D;
    border-bottom: 4px solid #E8C655;
    border-top: 4px solid #E8C655;
}

.body5 #road {
    background: linear-gradient(1turn, #42423E -50%, #6B6C67, #42423E 150%);
    border-bottom: 4px solid #E8C655;
    border-top: 4px solid #E8C655;
}

.body6 #road {
    background: repeating-linear-gradient(to right, #827870, #827870 4em, #91877F 4em, #91877F 8em);
}

.body7 #road {
    background: repeating-linear-gradient(to right, #6B6365, #6B6365 4em, #7D7576 4em, #7D7576 8em);
}

.body8 #road {
    background: none;
    background-color: #5B5A61;
}

/* FINISH FLAGS */

#road section {
    background: var(--finish-flag);
    display: inline-block;
    height: 100%;
    margin-left: 100em;
    position: relative;
    width: 4em;
}

/* RANDOM BOXES */

#randombox1,
#randombox2,
#randombox3,
#randombox4,
#randombox5,
#randombox6,
#randombox7,
#randombox8 {
    height: 4em;
    margin-left: 50em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

#randombox4 {
    height: 6em;
}


/* DYNAMIC GRASS */

#grass {
    align-items: center;
    background-image: url("../img/textures/01.jpg");
    background-repeat: repeat;
    background-size: 6em;
    display: flex;
    height: 8em;
}

.body2 #grass {
    background-image: url("../img/textures/02.jpg");

}

.body3 #grass {
    background-image: url("../img/textures/03.jpg");
    background-size: 8em;
}

.body4 #grass {
    background-image: url("../img/textures/04.jpg");
    background-size: 8em;
}

.body5 #grass {
    background-image: url("../img/textures/05.jpg");
}

.body6 #grass {
    background-image: url("../img/textures/06.jpg");
    background-size: 12em;
}

.body7 #grass {
    background-image: url("../img/textures/07.jpg");
    background-size: 8em;
}

.body8 #grass {
    background-image: url("../img/textures/08.jpg");
    background-size: 10em;
}

/* TEXT AND CONTROLS */

#grass h2 {
    background-color: var(--color-black);
    border-radius: 8px;
    border: 8px ridge var(--color-white);
    color: var(--color-white);
    font-family: pixel-regular;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    position: fixed;
}

#grass h2:nth-of-type(1) {
    left: 32px;
}

#grass h2:nth-of-type(2) {
    right: 208px;
}

#grass button:nth-of-type(1) {
    right: 112px;
}

#grass button:nth-of-type(2) {
    right: 32px;
}

#grass button:nth-of-type(1):hover, #grass button:nth-of-type(2):hover {
    background-color: var(--color-grey);
    cursor: pointer;
    transform: scale(1.1);
}

#grass button:nth-of-type(1):active, #grass button:nth-of-type(2):active {
    background-color: var(--color-light-grey);
    cursor: pointer;
    transform: scale(1.0);
}

#grass button:nth-of-type(1):focus-visible, #grass button:nth-of-type(2):focus-visible {
    border: 8px ridge var(--color-red);
    outline: none;
}

#grass button { 
    background-color: var(--color-black);
    border-radius: 8px;
    border: 8px ridge var(--color-white);
    color: var(--color-white);
    font-family: pixel-regular;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    position: fixed;
    transition: 0.2s ease-out;
}


/* MAIRIO IMAGES */

#road img:nth-child(-n+8) {
    bottom: 11.5em;
    height: 150px;
    left: 8em;
    position: fixed;
    width: 150px;
    z-index: 2;
}

/* MARIO ANIMATION */

.mario-animate {
    animation: moving 1s 1;
}

@keyframes moving {
    0% {
        bottom: 11.5em;
    }

    50% {
        bottom: 12em;
    }

    100% {
        bottom: 11.5em;
    }
}

/* ITEM FRAME */

#frame {
    align-items: center;
    background-color: var(--color-black);
    border-radius: 8px;
    border: 8px ridge var(--color-white);
    display: flex;
    height: 8em;
    justify-content: center;
    left: 32px;
    position: fixed;
    top: -12em;
    transition: 0.2s ease-out;
    width: 8em;
    z-index: 4;
    visibility: hidden;
}

#frame.frame-hover:hover {
    background-color: var(--color-grey);
    cursor: pointer;
    transform: scale(1.1);
}

#frame.frame-hover:active {
    background-color: var(--color-light-grey);
    cursor: pointer;
    transform: scale(1.0);
}

#frame.frame-hover:focus-visible {
    border: 8px ridge var(--color-red);
    outline: none;
}

#frame:focus {
    outline: none;
}

#frame img {
    height: 7em;
    width: 7em;
}

button#frame.box-animate {
    top: 32px;
    visibility: visible;
}


/* INFO ITEM ANIMATION */

.info-animation {
    animation: info-animation 0.4s 1;
}

@keyframes info-animation {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
        transition: ease-in-out;
    }

    100% {
        transform: scale(1.0);
        transition: ease-in-out;
    }
}

/* FINISH TEXT */

body>h2 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 6px white;
    background-clip: text;
    background-image: url("../img/textures/finish.jpg");
    background-size: contain;
    display: none;
    font-family: mario-kart;
    font-size: 8em;
    left: 50%;
    margin-block: 0px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all ease-in-out;
    z-index: 999;
}

.finish-animation {
    animation: finish-animation 1.5s 1 forwards;
    display: block;
}

@keyframes finish-animation {

    0% {
        font-size: 40em;
        opacity: 0;
    }

    20% {
        font-size: 11em;
        opacity: 1;
    }

    100% {
        font-size: 12em;
        opacity: 1;
    }
}

/* GAME INFORMATION */

article {
    background-color: var(--color-black);
    border-radius: 8px;
    border: 8px ridge var(--color-white);
    font-family: pixel-regular;
    height: auto;
    left: 11em;
    padding: 2em;
    position: fixed;
    right: 34px;
    top: 32px;
    transition: 0.4s all ease-in-out;
    width: auto;
    z-index: 3;
}

article h1 {
    color: var(--color-white);
    font-size: 28px;
    line-height: 1.5em;
    width: auto;
}

article h2 {
    color: var(--color-white);
    font-size: 20px;
    line-height: 2em;
    margin-top: 30px;
}

article p {
    color: var(--color-off-white);
    line-height: 30px;
    margin-top: 10px;
}

article ul {
    color: var(--color-off-white);
    line-height: 30px;
    list-style-type: square;
    margin-top: 5px;
    padding-left: 1em;
}